{% extends "base.html" %}
{% block title %} about {% endblock title %}
{% block content %}
<img id="profile_pic" src= "{{
  url_for("static", filename="Profile Pic.JPG" ) }}" alt="David's Profile Pic"
  />
<div id="about">

    
    <h2> my story</h2> 
    <h4 class ="journey" > from cooking to software development</h4>
    <br/>
</div>
<!--<label class = "switch ">
  <input id="checkbox" type="checkbox">
  <span class="slider round"></span>
</label>
div class="toggle">toggle to read more about me </div>  -->

<div id="fullStory" class="fullStory">

  <p>
    I have a bachelor's degree in Journalism and Communication, and during my college I had worked at a radio station, but news just wasn't right for me, because food was! I became a chef soon after college working a Michelin starred restaurants both in Hong Kong and Sydney, but I always had a secret love for technology and science even though I didn't realize it. I remember I have saved months of my part-time salary to get the iPhone 3G, using the white MacBook through my college days, and purchasing the first generation MacBook Air, I have always drawn to the apps without knowing I could create one too.
  </p>
  <p>Until I have finally came across with <a href ="https://www.freeCodeCamp.org" target="_blank"><u>freeCodeCamp.org</u></a>, I got a taste of html, css, js, at that time I got bored of cooking in the kitchen, working 12-14 hours a day for the last 10 years. </br> </br>
    I wanted a change, I have tried JavaScript, Python (which are the 2, I still use the most), I was so fascinated by the power of software and I was desperate for a change, so I applied for <a href ="https://www.tecky.io" target="_blank"><u> Tecky.io</u></a> and for 6 months I learnt and practised as much as possible, as hard as I can and I hope I can be a software developer, I have even made a ReactJS, ExpressJS, Postgres app named Betky, an online live streaming gambling site as a final project(check out my <a href ="https://www.github.com/koloyyee" target="_blank"><u>github</u></a> repos!), the reaction was positive, however, months after graduating from the bootcamp with over 100 applications and all been turn downed, everyone in my class was hired, except me, I gave up. </br></br>
    
    Little did I want but I had to go back, back to kitchen, but before giving up I have decided to do a pop-up restaurant, it was called <a href ="https://www.pmq.org.hk/event/roasitas-at-pmq-taste-kitchen/" target="_blank"><u>Roasita's</u></a>, a roast chicken themed pop-up restaurant because my love for a good roast chicken. During the pop-up I have run my own instagram ad campaigns, worked with photographers, cooking in the kitchen, greeting the guest, handling shifts, even managed to breakeven in 14 days. But then 2020 arrives, all plans got canceled. As lucky as I can get, I got a job as the R&ampD Chef of a major food delivery app company in APAC from there I explore the new world of virtual restaurants, and now I can combine both cooking and programming even UX into my job, because I believe F&ampB needs some updates. </br> </br>

    I enjoy programming as much as cooking, digging deep to understand the fundamentals and creating something people enjoy are the best parts, and I always found recipes are like codes, making a scalable, robust software is like making a scalable, robust recipe, it is not an easy task, but certainly fun and exciting to work on. </br> </br>

    I am David, I love cooking, programming, data. Hopefully one day I can fuse them together.</br> </br>

    <bold> Better food, better code, better everyday. </bold>

</p>
</div>
</div>

{% endblock %}