{% extends "base.html" %}

{% block header %}<h3> hi.</h3>{% endblock %}
{% block content %}
<div id="about">
  <p>there, you can call David. I am a chef that loves food, programming and data.</p>
  <p>
    I have a bachelor degree in Journalism and Communication, although I had
    worked in a radio station, news just wasn't a thing for me, because food is!
    I became a chef after college, but I always have a secret love for technology even though I
    didn't know it...yet, I remember I have saved months of my part-time salary to get
    the fist iPhone, using the white MacBook through my college days, and purchasing the first generation
    MacBook Air, even though I was never those people just keep buying new gadgets, however I was
    always drawn to the apps but little did I know I can become a programmer
    too!
  </p>
  <p>Until I have finally came across with <a href ="https://www.freeCodeCamp.org" target="_blank"><u>freeCodeCamp.org</u></a>, I got a taste of html, css, js, at that time I got bored of cooking in the kitchen, working 12-14 hours a day for the last 10 years. </br> </br>
    I wanted a change, I tried JavaScript, Python (which are the 2, I still use the most), I was so fascinate by the power of software and I was desperate for a change, so I applied for <a href ="https://www.tecky.io" target="_blank"><u> Tecky.io</u></a> and for 6 months I learnt and practiced as much as possible, as hard as I can and I hope I can be a software developer, I have even made a ReactJS, ExpressJS, Postgres app named Betky, an online live streaming gambling site as a final project(check out my <a href ="https://www.github.com/koloyyee" target="_blank"><u>github</u></a> repos!), the reaction was positive, however, months after graduating from the bootcamp, all my classmates was hired, except me. </br></br>
    
    Little did I want but I had to go back, back to kitchen, but before giving up I have decided to do a pop-up restaurant, it was called <a href ="https://www.pmq.org.hk/event/roasitas-at-pmq-taste-kitchen/" target="_blank"><u>Roasita's</u></a>, a roast chicken themed pop-up restaurant because my love for a good roast chicken. During the pop-up I have run my own instagram ad campaigns, worked with photographers, cooking in the kitchen, greeting the guest, handling shifts, even managed to breakeven in 14 days. But then 2020 arrives, all plans got canceled. As lucky as I can get, I got a job as the R&ampD Chef of a major food delivery app company in APAC from there I explore the new world of virtual restaurants, and now I can combine both cooking and programming even UX into my job, because I believe F&ampB needs some updates. </br> </br>

    I enjoy programming as much as cooking, digging deep to understand the fundamentals and creating something people enjoy are the best parts, and I always found recipes are like codes, making a scalable, robust software is like making a scalable, robust recipe, it is not an easy task, but certainly fun and exciting to work on. </br> </br>

    I am David, I love cooking, programming, data. Hopefully one day I can fuse them together.</br> </br>

    <bold> Better food, better code, better everyday. </bold>

</p>
</div>

{% endblock %}