

{% extends 'base.html' %}
{% block header %}<meta name="description" content="{{post.title.capitalize() }}">
<meta name="author" content="David Ko">
<meta name="keywords" content="self-taught, javascript, python, html, php, web development">{% endblock header %}
{% block content %}


<h1>{{ post.title.capitalize() }} </h1>

<p> published on: {{ post.created}}</p>
<div class="post">
    {{ post.body | safe }}

</div>
<a class="back" href = "{{ url_for("blog.BlogPostsTitle") }}"> back </a>
{% endblock content %}


