/* 
#5b5b5b - highlight
#fafafa - 30% - Complement
#f5f5f7 - secondary content 
#ffffff - top content
#3d89d6 - highlight */

/* typography  */
body {

    font-family: "Gill Sans", sans-serif;
    font-size: 1.1rem;
    color: #5b5b5b;
    font-weight: 300;
    background: #fff;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: #3d89d6;
}

a:hover,
a:focus {
    text-decoration: underline;

}

span {
    font-weight: 700;

}

.button {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid #3d89d6;
    background-color: none;

}

.button {
    padding: 1rem 1.5rem;
}



.button:hover,
.cv:hover {
    box-shadow: 5px 10px 0 #e1e1e3;
    background-color: #3d89d6;
    color: #fff;
}

.drawer-button,
.close-button {
    font-size: 3rem;
    padding-right: 1rem;
    padding-top: 0;
    cursor: pointer;

}

.drawer-button {
    position: relative;
    float: right;
}

.close-button {
    margin: 0;
    color: #e1e1e3;
}

/* layout */
nav {
    width: 100%;
    background-color: #5b5b5b;
}

ul li {
    padding: 0;

}

.nav-link {
    color: #e1e1e3;
    font-size: 3rem;
}


.top-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -100%;
    overflow-y: hidden;
    background-color: #5b5b5b;
    padding-top: 60px;
    transition: 0.5s;
}

.container {
    max-width: 100%;
    width: 2560px;
    margin: 0 auto;

}

.container-flex {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 980px;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
    padding: 0;
    border-radius: 3%;
}

@media (min-width: 780px) {

    .drawer-button,
    .close-button {
        display: none;
        padding-right: 0;

    }

    .container-flex {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;

    }

    .top-menu {
        position: relative;
        z-index: 1;
        padding-top: 0;
    }

    .nav-link {
        color: #fbfbfb;
        font-size: 1rem;
    }
}

.col-2 {
    padding-top: 1rem;
    width: 80%;
    text-align: center;
}


/* index page */
hr {
    border: 1rem solid #ffffff;

}

.profile_pic {
    position: relative;
    border-radius: 50%;
    width: 50%;
    min-width: 450px;
}

.intro {
    font-size: 1.25rem;
    line-height: 1.6;

}

/* index > about me  */
.about-me {
    background-color: #fafafa;
}


.about-me h2 {
    text-align: center;
}

.quick_story {
    padding: 2rem;
}

/* index > portfolio section */

.extra {
    background-color: #fafafa;
}



.cards {
    text-align: center;
    background-color: #ffffff;
    width: 50%;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5%;
    box-shadow: 0 0 30px #e1e1e3;

}

.extra h2 {
    text-align: left;
}

.project_icon {
    width: 30%;
}

.cards h3 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.cards:hover {
    animation: grow 0.2s ease-in-out alternate;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }



}


@media (min-width: 780px) {

    .about-me,
    .extra {
        width: 100%;
    }

    .quick_story {
        max-width: 30%;

    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        height: 15rem;
    }
}

/* about me page */
.about_me_pic {
    min-width: auto;
}

.full_story {
    width: 80%;
}

@media (min-width:780px) {
    .full_story {
        padding: 1rem;
        width: 80%;
    }

    .content {
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-top: 1rem;
    }

    .about_me_pic {
        margin-top: 2rem;
    }


}

/* news */
@media (min-width: 780px) {

    .news-headlines,
    .agency_title {
        flex-direction: column;
        margin-top: 1.5rem;

    }

    .news-headlines>a:hover,
    .news-headlines>a:focus {
        color: #3d89d6;
    }

}

/* contact form  */
.contact {
    flex-direction: column;
}

.contact a {
    text-decoration: none;
}

.contact_form {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

form input,
textarea {
    border-radius: .3rem;
    margin: .5rem 0;
    border: 1px solid #e1e1e3;
    padding: 1rem;
    font-size: 1rem;

}

@media (min-width: 780px) {
    .contact {
        width: 80%;
    }

}


/* footer */
footer {
    width: 100%;
    justify-content: center;
    box-shadow: 0 -8px 20px #e1e1e3;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 3rem;
    line-height: 0;
}

.social {
    margin: 0 2rem;
    padding: .5rem 2rem;

}