body{
    font-family:"Gill Sans", sans-serif;;
    font-size: 1rem;
    margin:10vw;
    color:dimgray;

}

title{
   display: none;
}

/* .content{
    width: 80%;
} */

a{
    text-decoration: none; 
    color: inherit;

}
a:hover {
    color: pink;
    transition: 0.3s; 
    
}

a.back {
    position: fixed;
    bottom: 10%;
    width: 100%;
}

a#news:hover{
    color:chartreuse;
    text-shadow:0.5px 0.5px 0 #000;
      
}

a#blog:hover{
    color:rgb(78, 136, 243);
    text-shadow:0.5px 0.5px 0 #000;

}

a#hi:hover{
    color: gold;
    text-shadow:0.5px 0.5px 0 #000;
}

a.social{
    margin: 0.5vw;
}

a.social:hover {
    text-shadow: #FC0 1px 0 10px;
}
.post{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10vw;
}

#about {
    position: relative;
    line-height: 1.8;
    width:100%;
    width: 80vw;

}

.journey {
    color: lightgrey;
    transition: color 0.5s ;

}

.journey:hover {
    color: rgb(94, 94, 94);
}

#profile_pic {
    /* position: absolute; */
    /* left: 50%; */
        float: right;
        border-radius: 50%;
        max-width: 240px;
        height:auto;
}

#intro{
  width : 70%; 
}
#short_intro {
    position: relative;
    top: 6vw;
    line-height: 2.8em;
    margin: auto;
}

.navbar {
    padding-right: 8vw;
    padding-left: 8vw;
}

.switch {
    width: 60px;
    height: 35px;
    position: relative;
    display: inline-block;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s; 
}
input:checked + .slider {
    background-color:rgb(104, 105, 107);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(104, 105, 107);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.toggle {
    opacity: 0;
    transition: opacity 0.3s;
    transition-timing-function: ease-in-out;

}
.switch:hover + .toggle {
    opacity: 1;
}

#fullStory {
    width: 70%;
    line-height: 2em;
    font-size: medium;
}