body{
    font-family:"Gill Sans", sans-serif;;
    font-size: 1rem;
    margin:10vw;
    color:dimgray;

}

title{
    font-weight: 500;
    font-size: 5vh;
    display:contents;
}

.content{
    width: fit-content;
}

a{
    text-decoration: none; 
    color: inherit;

}
a:hover {
    color: pink;
    transition: 0.3s; 
    
}

a.back {
    position: fixed;
    bottom: 10%;
    width: 100%;
}

a#news:hover{
    color:chartreuse;
    text-shadow:0.5px 0.5px 0 #000;
      
}

a#blog:hover{
    color:rgb(78, 136, 243);
    text-shadow:0.5px 0.5px 0 #000;

}

a#hi:hover{
    color: gold;
    text-shadow:0.5px 0.5px 0 #000;
}

a.social{
    margin: 0.5vw;
}

a.social:hover {
    text-shadow: #FC0 1px 0 10px;
}
.post{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10vw;
}