<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <a href = " {{ url_for("dailyNews.mySubscriptions") }} "><title>{% block title %}{% endblock%} News Hub</title> </a>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for("static", filename = "js/node_modules/bootstrap/dist/css/bootstrap.css")}}" /> 
    <link rel="stylesheet" href="{{ url_for("static", filename = "js/node_modules/bootstrap/dist/css/bootstrap.min.css")}}" /> 
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/style.css")}}" /> 
    <link rel="icon" href="{{ url_for("static", filename = "chicken-leg.png") }}"/> 
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
   
    <a href = "{{ url_for("agency.show") }}"> <p> My 
      Subscriptions  
      <!--- <scan> <a href = "{{ url_for("agency.register") }}"> - add new agency</a> <scan> -->

      </p> </a>
      
    <section class="content">
      <header>{% block header %} {% endblock %}</header>

      {% for m in get_flashed_messages() %}
      <div class="flash">{{ m }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </section>
    
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" id ="news" aria-current="page" href="{{ url_for("dailyNews.mySubscriptions") }}">news</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="blog" href="{{ url_for("blog.allPostsTitle") }}" >blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="hi" href="{{ url_for("about.hi") }}">hi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>


  <script type="module" src="{{ url_for("static", filename = "js/index.js")}}"> </script>
  <script type="module" src="{{ url_for("static", filename = "js/node_modules/bootstrap/dist/js/bootstrap.bundle.js")}}"> </script>
  <script type="module" src="{{ url_for("static", filename = "js/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")}}"> </script>



  
  
</html>
